
/* ---------- 01 debug coloring 

 End */ 
.red {
    color: red;
    background-color: red;
}
.blue {
    color: blue;
    background-color: blue;
}
.green {
    color: green;
    background-color: green;
}
.yellow {
    color: yellow;
    background-color: yellow;
}
.purple{background-color: purple;}
.grey {
    background-color: grey;
}
.pink {
    background-color: pink;
}


/*global styles*/

body{
	font-size: 2.5em;
	font-family:'Arial Bold', sans-serif;
	text-shadow: 3px 3px 0px #000;
	color:white;
}
hr {
    clear: both;
}

/*end*/


.outerContainer{
    background-color: white;
    cursor: pointer;
	width:250px;
	height:395px;
	border-radius: 20px;
    margin-right: 5px;
    margin-bottom: 5px;
	float:left;
	border:solid 1px black;
}

.innerContainer{
	width:230px;
	height: 375px;
	margin: 10px;
	border-radius: 10px;
}

.head{
	float: left;
	padding: 10px;
	border-radius: 10px;
}

.body{
	border-radius: 125px 0 125px 0;
	height:234px;
	float: left;
	width:220px;
	background-color:white;
	margin:5px;
}

.footer{
	float: right;
	padding: 8px;
	border-radius: 10px;

}

.leftNumber{
	float:left;
	color:white;
	text-shadow:3px 3px black;

}

.rightNumber{
	float:right;
	color:white;
	text-shadow:3px 3px black;
}

.centreNumber{
	margin: 0 auto;
	font-size: 2.5em;
	font-weight: 900;
    text-align: center;
    padding-top: 60px;
	text-shadow:10px 10px black;
	width:120px;
}

.player-name, .current-points {
    float: left;
    font-size: 0.7em;
}

.player-name {
    float: left;
    margin-right: 20px;
}

.current-points {
    float: right;
}

.your-turn {
    text-align: center;
    margin: 0.2em 0;
}

h5 {
    margin: 0.2em 0;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}