body {
  background: #876574;
}
.active {
  color: red;
}
.card {
  width: 150px;
  height: 300px;
  border-radius: 1em;
  background: #fff;
  position: absolute;
}
.card strong {
  text-align: center;
}
.slide {
  -webkit-animation: card-slide 1s;
  -moz-animation: card-slide 1s;
  -o-animation: card-slide 1s;
  animation: card-slide 1s;
}
@-webkit-keyframes card-slide {
  0% {
    top: 0;
  }
  100% {
    top: 50%;
  }
}
@-moz-keyframes card-slide {
  0% {
    top: 0;
  }
  100% {
    top: 15%;
  }
}
@-o-keyframes card-slide {
  0% {
    top: 0;
  }
  100% {
    top: 50%;
  }
}
@keyframes card-slide {
  0% {
    top: 0;
  }
  100% {
    top: 32.5%;
  }
}
.slide-up {
  -webkit-animation: card-slide-up 1s;
  -moz-animation: card-slide-up 1s;
  -o-animation: card-slide-up 1s;
  animation: card-slide-up 1s;
}
@-webkit-keyframes card-slide-up {
  0% {
    top: 0;
  }
  100% {
    top: -100%;
  }
}
@-moz-keyframes card-slide-up {
  0% {
    top: 0;
  }
  100% {
    top: -100%;
  }
}
@-o-keyframes card-slide-up {
  0% {
    top: 0;
  }
  100% {
    top: -100%;
  }
}
@keyframes card-slide-up {
  0% {
    top: 0;
  }
  100% {
    top: -80%;
  }
}
