@using System.Web.Optimization
@{
    ViewBag.Title = "Table";
}

<h2>Table</h2>
@Html.ActionLink("Play", "Play", "Game")
<div>
    <ul data-bind="template: { name: 'playerTemplate', foreach: players }, visible: players().length > 0">
    </ul>

    <script type="text/html" id="playerTemplate">
        <li>
            <strong><span data-bind="text: personName"></span></strong>
        </li>
    </script>
</div>

@section script
{
    <script src="~/signalr/hubs"></script>

    @Scripts.Render("~/table")

    }
