@{
    ViewBag.Title = "Table";
}

<h2>Table</h2>
@Html.ActionLink("Play", "Play", "Game")
<div>
    <ul data-bind="template: { name: 'playerTemplate', foreach: players }, visible: players().length > 0">
    </ul>

    <script type="text/html" id="playerTemplate">
        <li>
            <strong><span data-bind="text: personName"></span></strong>
        </li>
    </script>
</div>

@section script
{
    <script src="~/signalr/hubs"></script>
    <script>
        $(function () {
            function playerViewModel(personName) {
                this.personName = personName;
            }
            
            function playerListViewModel() {
                var self = this;

                self.hub = $.connection.gameHub;
                self.players = ko.observableArray([]);
                
                var players = self.players;

                self.init = function () {
                    
                };

                self.hub.client.playerJoined = function (personName) {
                    players.push(new playerViewModel(personName));
                };

                self.hub.client.playerLeft = function (personName) {
                    alert(personName);
                    players.remove(new playerViewModel(personName));
                };
            }
 
            var vm = new playerListViewModel();
            ko.applyBindings(vm);
            $.connection.hub.start(function () { vm.init(); });
        });
    </script>
}