@using System.Web.Optimization
@{
    ViewBag.Title = "Table";
}

<h2>Table</h2>
<style>
    
</style>
@Html.ActionLink("Play", "Play", "Game")
<div>
     <button data-bind="click: function () { $root.method() }, visible: restart">Play again?</button>
    <ul data-bind="foreach: players">
        <li data-bind=" text: name "></li>
    </ul>
    <div class="outerContainer" data-bind="attr: { class: card.Colour() + ' outerContainer' }, visible: card.Colour()">
		<div class="innerContainer">
			<div class="head">
				<div class="leftNumber" data-bind="text: card.Value"></div>
			</div>
		
			<div class="body">
				<div class="centreNumber" data-bind="text: card.Value"></div>
				<div class="sd" data-bind="text: card.Type"></div>
			</div>

			<div class="grey footer">
				<div class="rightNumber" data-bind="text: card.Value"></div>
		</div>
	</div>
</div>

@section script
{
    <script src="~/signalr/hubs"></script>

    @Scripts.Render("~/table")

    }
