@using System.Web.Optimization
@{
    ViewBag.Title = "Table";
}

<h2>Table</h2>
<style>
    
</style>
@Html.ActionLink("Play", "Play", "Game")
<div>
    <ul data-bind="foreach: players">
        <li data-bind=" text: name "></li>
    </ul>
	            <div class="outerContainer">
		            <div class="innerContainer" data-bind="attr: { class: card.Colour }">
			            <div class="head">
				            <div class="leftNumber" data-bind="text: card.Label"></div>
			            </div>
		
			            <div class="body">
				            <div class="centreNumber" data-bind="text: card.Label"></div>
			            </div>

			            <div data-bind="attr: { class: card.Colour }" class="footer">
				            <div class="rightNumber" data-bind="text: card.Label"></div>
		            </div>
	            </div>
            </div>
</div>

@section script
{
    <script src="~/signalr/hubs"></script>

    @Scripts.Render("~/table")

    }
