@using System.Web.Optimization
@{
    ViewBag.Title = "Table";
}

<h2>Table</h2>
<style>
    
</style>
@Html.ActionLink("Play", "Play", "Game")
<div>
    <ul data-bind="foreach: players">
        <li data-bind=" text: name, attr: { class: active ? 'active' : '' } "></li>
    </ul>
    <div class="card">
        <strong>5</strong>
    </div>
</div>

@section script
{
    <script src="~/signalr/hubs"></script>

    @Scripts.Render("~/table")

    }
