@using System.Web.Optimization
@{
    ViewBag.Title = "Let's Play Uno!";
}

<input id="gameId" data-bind="value: gameId()" type="hidden" value="@Request.QueryString["gameId"]" />
<section data-bind="        visible: !gameActive() && !gameOver() && (gameId() != '')">
    <input name="playerName" data-bind="value: playerName, visible: !gameReady()" />
    <button data-bind="click: joinGame, visible: !gameReady()">Join</button>
    <button data-bind="click: startGame, visible: gameReady">Start</button>
</section>

<section data-bind="visible: gameOver()">
    <div class="game-winner" data-bind="text: winner() + ' won the game'"></div>
    <button data-bind="click: startGame">Start Another Game</button>
</section>

<section data-bind="visible: gameActive">
    <div class="player-info cf">
        <div data-bind="visible: playerActive()" class="your-turn">It's your turn!</div>
        <div data-bind="visible: !playerActive(), text: currentPlayer() + '\'s turn'" class="their-turn"></div>
        <div data-bind="text: 'Current hand ' + points()" class="current-points"></div>
    </div>

<!-- ko foreach: cards -->
    <div data-bind="visible: PickedUp">
        <span class="picked-up" data-bind="text: 'You picked up a ' + Colour + ' ' + Label"></span>
    </div>
<!-- /ko -->

    <div data-bind="visible: playerActive">
        <div>Playable cards</div>
        <div data-bind="foreach: cards" class="cf">
	        <div class="outerCard playable" data-bind="visible: Playable, click: function () { $root.playCard($data) }">
		            <div class="innerCard" data-bind="css: Colour">
			        <div class="topCard">
				        <div class="leftNumber" data-bind="css: 'card' + Type, text: Label"></div>
			        </div>
			        <div class="centreCard">
				        <div class="centreNumber" data-bind="css: 'card' + Type + Colour, text: Label"></div>
			        </div>
			        <div class="bottomCard">
				        <div class="rightNumber" data-bind="css: 'card' + Type, text: Label"></div>
                    </div>
		        </div>
	        </div>
        </div>
    </div>

    <div>
        <div>Full hand</div>
        <div data-bind="foreach: cards" class="cf">
	        <div class="outerCard">
		        <div class="innerCard" data-bind="css: Colour">
			        <div class="topCard">
				        <div class="leftNumber" data-bind="css: 'card' + Type, text: Label"></div>
			        </div>
			        <div class="centreCard">
				        <div class="centreNumber" data-bind="css: 'card' + Type + Colour, text: Label"></div>
			        </div>
			        <div class="bottomCard">
				        <div class="rightNumber" data-bind="css: 'card' + Type, text: Label"></div>
                    </div>
		        </div>
	        </div>
        </div>
    </div>

    <div data-bind="template: { name: 'currentCardTmpl', data: currentCard, if: currentCard }"></div>
</section>

<script id="currentCardTmpl" type="text/html">
        <div>Current card</div>
        <div class="cf">
	        <div class="outerCard">
		        <div class="innerCard" data-bind="css: Colour">
			        <div class="topCard">
				        <div class="leftNumber" data-bind="css: 'card' + Type, text: Label"></div>
			        </div>
			        <div class="centreCard">
				        <div class="centreNumber" data-bind="css: 'card' + Type + Colour, text: Label"></div>
			        </div>
			        <div class="bottomCard">
				        <div class="rightNumber" data-bind="css: 'card' + Type, text: Label"></div>
                    </div>
		        </div>
	        </div>
        </div>
</script>

@section script
{
    <script src="~/signalr/hubs"></script>
    @Scripts.Render("~/player")
}