@using System.Web.Optimization
@{
    ViewBag.Title = "Play";
}

<h2>Play</h2>

<ul data-bind="foreach: cards">
    <li data-bind="attr: { class: colour }">
        <span data-bind="text: value"></span>
        <button data-bind="click: function(){$root.playCard($data)}">playcard</button>
    </li>

</ul>


@section script
{
    <script src="~/signalr/hubs"></script>
    @Scripts.Render("~/player")
}