@using System.Web.Optimization
@{
    ViewBag.Title = "Play";
}

<h2>Play</h2>

<section data-bind="visible: !gameActive() && !gameOver()">
    <input name="playerName" data-bind="value: playerName" />
    <button data-bind="click: joinGame, visible: !gameReady()">Join</button>
    <button data-bind="click: startGame, visible: gameReady">Start</button>
</section>
<section data-bind="visible: gameOver()">
    <div class="game-winner" data-bind="text: winner() + ' won the game'"></div>
    <button data-bind="click: startGame">Start Another Game</button>
</section>
<section data-bind="visible: gameActive">
    <h2 data-bind="visible: playerActive">It's my turn!</h2>
    <h3 data-bind="text: playerName"></h3>
    <p data-bind="text: 'points: ' + points()"></p>

    <div data-bind="visible: playerActive">
        <h3>Playable cards</h3>
            <div data-bind="foreach: cards">

	            <div class="outerContainer" data-bind="visible: Playable, click: function () { $root.playCard($data) }">
		            <div class="innerContainer" data-bind="attr: { class: Colour }">
			            <div class="head">
				            <div class="leftNumber" data-bind="text: Value"></div>
			            </div>
		
			            <div class="body">
				            <div class="centreNumber" data-bind="text: Value"></div>
				            <div class="sd" style="color: black" data-bind="text: Type"></div>
			            </div>

			            <div data-bind="attr: { class: Colour }" class="footer">
				            <div class="rightNumber" data-bind="text: Value"></div>
		            </div>
	            </div>
            </div>
        </div>
    </div>
    <hr />
    <div>
        <h3>Full hand</h3>
            <div data-bind="foreach: cards">
                
	            <div class="outerContainer">
		            <div class="innerContainer" data-bind="attr: { class: Colour }">
			            <div class="head">
				            <div class="leftNumber" data-bind="text: Value"></div>
			            </div>
		
			            <div class="body">
				            <div class="centreNumber" data-bind="text: Value"></div>
			            </div>

			            <div data-bind="attr: { class: Colour }" class="footer">
				            <div class="rightNumber" data-bind="text: Value"></div>
		            </div>
	            </div>
            </div>
    </div>
<!-- ko foreach: cards -->
    <div data-bind="visible: PickedUp">
        <span data-bind="text: 'You picked up a ' + Colour + ' ' + Value"></span>
    </div>
<!-- /ko -->
</section>

@section script
{
    <script src="~/signalr/hubs"></script>
    @Scripts.Render("~/player")
}