@using System.Web.Optimization
@{
    ViewBag.Title = "Let's Play Uno!";
}

<section data-bind="visible: !gameActive() && !gameOver()">
    <input name="playerName" data-bind="value: playerName" />
    <button data-bind="click: joinGame, visible: !gameReady()">Join</button>
    <button data-bind="click: startGame, visible: gameReady">Start</button>
</section>
<section data-bind="visible: gameOver()">
    <div class="game-winner" data-bind="text: winner() + ' won the game'"></div>
    <button data-bind="click: startGame">Start Another Game</button>
</section>
<section data-bind="visible: gameActive">
    <div class="player-info cf">
        <div data-bind="text: playerName" class="player-name"></div>
        <div data-bind="text: points() + ' Points'" class="current-points"></div>
    </div>

    <h5 data-bind="visible: playerActive" class="your-turn">It's your turn!</h5>

    <div data-bind="visible: playerActive">
        <h5>Playable cards</h5>
        <div data-bind="foreach: cards" class="cf">
	        <div class="outerContainer" data-bind="visible: Playable, click: function () { $root.playCard($data) }">
		        <div class="innerContainer" data-bind="css: Colour">
			        <div class="head">
				        <div class="leftNumber" data-bind="text: Label"></div>
			        </div>
		
			        <div class="body">
				        <div class="centreNumber" data-bind="text: Label"></div>
				        <div class="sd" style="color: black" data-bind="text: Type"></div>
			        </div>

			        <div data-bind="css: Colour" class="footer">
				        <div class="rightNumber" data-bind="text: Label"></div>
                    </div>
		        </div>
	        </div>
        </div>
    </div>
    <div>
        <h5>Full hand</h5>
            <div data-bind="foreach: cards" class="cf">
                
	            <div class="outerContainer">
		            <div class="innerContainer" data-bind="css: Colour">
			            <div class="head">
				            <div class="leftNumber" data-bind="text: Label"></div>
			            </div>
		
			            <div class="body">
				            <div class="centreNumber" data-bind="text: Label"></div>
			            </div>

			            <div data-bind="css: Colour" class="footer">
				            <div class="rightNumber" data-bind="text: Label"></div>
                        </div>
		            </div>
	            </div>
            </div>
    </div>
<!-- ko foreach: cards -->
    <div data-bind="visible: PickedUp">
        <span data-bind="text: 'You picked up a ' + Colour + ' ' + Value"></span>
    </div>
<!-- /ko -->
</section>

@section script
{
    <script src="~/signalr/hubs"></script>
    @Scripts.Render("~/player")
}